<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo de ChatGPT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
</head>
<body>
    <div class="background-image" style="background-image: url('./static/food-background.jpg');"></div>
    <div class="container">
        <h1 class="title">DEMO FAS</h1>
        <div class="chat-container">
            <div id="chatbox" class="chatbox"></div>
            <form id="chat-form" class="chat-form">
                <input id="input" type="text" placeholder="Escribe tu mensaje...">
                <button type="submit">Enviar</button>
            </form>
        </div>
        <div id="menu-container" class="menu-container">
            <h2>Menú del Restaurante</h2>
            <div id="menu-pages" class="menu-pages">
                <div class="menu-page">
                    <h3>Aperitivos</h3>
                    <ul>
                        <li>Bruschetta</li>
                        <li>Ensalada Caprese</li>
                        <li>Champiñones rellenos</li>
                        <li>Alitas de pollo</li>
                    </ul>
                </div>
                <div class="menu-page">
                    <h3>Platos Principales</h3>
                    <ul>
                        <li>Salmón a la parrilla</li>
                        <li>Pollo Alfredo</li>
                        <li>Wellington de ternera</li>
                        <li>Salteado de verduras</li>
                    </ul>
                </div>
                <div class="menu-page">
                    <h3>Postres</h3>
                    <ul>
                        <li>Tiramisú</li>
                        <li>Tarta de queso</li>
                        <li>Pastel de chocolate con lava</li>
                        <li>Tarta de manzana</li>
                    </ul>
                </div>
                <div class="menu-page">
                    <h3>Bebidas</h3>
                    <ul>
                        <li>Bebidas gaseosas</li>
                        <li>Café</li>
                        <li>Té</li>
                        <li>Cerveza</li>
                        <li>Vino</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>